<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
https://docs.nativescript.org/angular/ui/professional-ui-components/ng-SideDrawer/getting-started
-->
<RadSideDrawer [drawerTransition]="sideDrawerTransition">
  <GridLayout tkDrawerContent rows="auto, *" class="nt-drawer__content">
    <StackLayout row="0" class="nt-drawer__header">
      <!--<Image class="nt-drawer__header-image fas t-36" src="font://&#xf2bd;"></Image>-->
      <Label textWrap="true">
        <FormattedString>
          <span text="Modulations" fontWeight="bold"></span>
        </FormattedString>
      </Label>
      <!--<Label class="nt-drawer__header-footnote" text="username@mail.com"></Label>-->
    </StackLayout>

    <ScrollView row="1" class="nt-drawer__body">
      <StackView>
        <ListView [items]="modulations" class="list-group">
          <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
            <!-- The item template can only have a single root view container (e.g. GridLayout, StackLayout, etc.)-->
            <StackLayout orientation="horizontal">
              <Switch (checkedChange)="onCheckedChange($event, item.id)" [checked]="item.checked"></Switch>
              <label [text]="item.type" class="list-group-item"></label>
            </StackLayout>
          </ng-template>
        </ListView>
      </StackView>
      <!--<StackLayout class="hr"></StackLayout>-->
    </ScrollView>
  </GridLayout>

  <page-router-outlet tkMainContent></page-router-outlet>
</RadSideDrawer>
