<ActionBar class="action-bar">
    <NavigationButton visibility="hidden"></NavigationButton>
    <GridLayout columns="50, *">
        <Label class="action-bar-title" text="Home" colSpan="2"></Label>

        <Label class="fas" text="&#xf0c9;" (tap)="onDrawerButtonTap()"></Label>
    </GridLayout>
</ActionBar>

<GridLayout class="page__content">
  <Label class="page__content-icon fas" text="&#xf015;"></Label>
  <Label class="page__content-placeholder" text="Blubb"></Label>
  <TextView hint="Enter some text..." [text]="tvtext" (textChange)="onTextChange($event)">
  </TextView>  
  <button class="-primary -rounded-sm -outline" text="New exercise!" (tap)="onTapNewExercise($event)">
  </button>
  <image src="data:Image/png;base64,iVBORw..." stretch="aspectFill"></image>
</GridLayout>
